.navbar {
    background-color: #f4f5f7;
    color: rgb(3, 63, 34);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar a {
    color: rgb(1, 19, 2);
    padding: 10px 10px;
    border-radius: 1000px;
  }
  
  .navbar a:hover {
    background-color: #d7ee0b;
  }
  