.search-section {
    margin: 20px 0;
    width: 100%;
    max-width: 2000px;
  }
  
  .search-section input {
    padding: 5px;
    width: 20%;
    margin-right: 5px;
  }
  
  .search-section button {
    background-color: #00ff80;
    color: rgb(7, 6, 6);
    padding: 10px 50px;
    border: none;
    border-radius: 50px;
  }
  